<div class="header-top-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="logo-area">
          <a class="logo-text" href="#"><img src="/assets/img/logo/logo2.png" alt="" />УЛГорпо</a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="header-top-menu">
          <ul class="nav navbar-nav notika-top-nav">
            <li class="nav-item dropdown">
              <a href="#" [routerLink]="['/areas']" data-toggle="dropdown" role="button" aria-expanded="false"
                class="nav-link dropdown-toggle"><span><i class="notika-icon notika-house"></i></span></a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" [routerLink]="['/equipments']" class="nav-link dropdown-toggle">
                <span><i class="notika-icon notika-app"></i></span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" [routerLink]="['/products']" class="nav-link dropdown-toggle">
                <span><i class="notika-icon notika-windows"></i></span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" [routerLink]="['/reports']" class="nav-link dropdown-toggle">
                <span><i class="notika-icon notika-bar-chart"></i></span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" (click)="logout()" class="nav-link dropdown-toggle">
                <span><i class="notika-icon notika-close"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
