<!-- <div class="main-menu-area mg-tb-40">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                  <li class="main-menu__item active"><a data-toggle="tab" href="#Areas"><i class="notika-icon notika-house"></i> Торговые площади</a>
                  </li>
                  <li class="main-menu__item"><a data-toggle="tab" href="#Equipments"><i class="notika-icon notika-app"></i> Оборудование</a>
                  </li>
                  <li class="main-menu__item"><a data-toggle="tab" href="#Products"><i class="notika-icon notika-windows"></i> Товары</a>
                  </li>
                  <li class="main-menu__item"><a data-toggle="tab" href="#Employees"><i class="notika-icon notika-support"></i> Сотрудники</a>
                  </li>
                  <li class="main-menu__item"><a data-toggle="tab" href="#Reports"><i class="notika-icon notika-bar-chart"></i> Аналитика</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div> -->