<h2>Area Create</h2>

<form [formGroup]="areaCreateForm" (submit)="onSubmit($event)" class="area-create__form" novalidate>
  <div class="row mb-3">
    <div class="col-12">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" [ngClass]="{'area-create__field-error': isControlInvalid('name')}"
        class="form-control" autocomplete="off" placeholder="Input name..." />

        <div *ngIf="isControlInvalid('name')">
          <div *ngIf="areaCreateForm.controls['name'].errors.required" class="area-create__error">
            Name is required.
          </div>
          <div *ngIf="areaCreateForm.controls['name'].errors.maxlength" class="area-create__error">
            Name must be no more than 200 characters.
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="errors" class="alert alert-danger" role="alert">
        {{errors.message}}
      </div>

      <input type="submit" value="Save" class="btn btn-primary btn-lg">
    </div>
  </div>
</form>