<div style="display: flex">
  <div cdkDropList 
    [cdkDropListData]="selected" 
    [cdkDropListConnectedTo]="secondList" 
    #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event)" 
    style="width: 30%">
    <div *ngFor="let equip of selected" class="pop" cdkDrag>
      <div>{{equip.name}}</div>
      <div>
        <input type="number" />
      </div>
    </div>
  </div>
  <div cdkDropList 
    [cdkDropListData]="equipment" 
    [cdkDropListConnectedTo]="firstList" 
    #secondList="cdkDropList"
    (cdkDropListDropped)="drop($event)" style="width: 30%">
    <div *ngFor="let equip of equipment" class="pop" cdkDrag>
      <div>{{equip.name}}</div>
    </div>
  </div>
</div>
