<div class="login-content">
  <!-- Login -->
  <div class="nk-block toggled" id="l-login">
    <form class="nk-form" id="login-form" #f="ngForm" novalidate (ngSubmit)="login(f)">
      <div class="input-group">
        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
        <div class="nk-int-st">
          <input type="text" required #email="ngModel" name="email" [ngModel]="credentials.email" tmFocus validateEmail
            class="form-control" placeholder="Логин">
          <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Пожалуйста, введите верный
            логин.</small>
        </div>
      </div>
      <div class="input-group mg-t-15">
        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
        <div class="nk-int-st">
          <input type="password" name="password" required [ngModel]="credentials.password" class="form-control" placeholder="Пароль">
        </div>
      </div>
      <div class="fm-checkbox">
        <label><input type="checkbox" class="i-checks"> <i></i> Запомнить меня</label>
      </div>
      <div class="text-danger">
        {{ errors }}
      </div>
      <button href="#l-register" data-ma-action="nk-login-switch" data-ma-block="#l-register"
        class="btn btn-login btn-success btn-float">
        <i class="notika-icon notika-right-arrow right-arrow-ant"></i>
      </button>
    </form>

    <div class="nk-navigation nk-lg-ic">
      <!-- <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-register"><i
          class="notika-icon notika-plus-symbol"></i> <span>Регистрация</span></a> -->
      <a href="#" data-ma-action="nk-login-switch" data-ma-block="#l-forget-password"><i>?</i> <span>Забыли
          пароль?</span></a>
    </div>
  </div>
</div>
